<article>
  <section>
    <div class="layout-two-column">
      <div class="align-center">
        <%= @content %>
      </div>
      <div class="align-center">
        <%= @author %>
      </div>
    </div>
  </section>
</article>
