<div class="jumbotron">
  <h1>Welcome to use our product!</h1>
  <p>Please install this app, and you can use your google glass to experience this amazing service!</p>
  <a class="btn btn-primary btn-lg" role="button" href="/install">Install it</a>
</div>
