<div class="jumbotron">
  <h1>Welcome to use our product!</h1>
  <a class="btn btn-primary btn-lg button-fake" role="button" href="/install">Install it</a>
  <h2 class="install-successed-text">Congratulations, you have installed succssfully!</h2>
</div>